@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --shadow-elevation-low:
        0.5px 0.6px 0.8px hsl(var(--shadow-color) / 0.15),
        0.8px 1px 1.3px -1.6px hsl(var(--shadow-color) / 0.13),
        2px 2.5px 3.2px -3.2px hsl(var(--shadow-color) / 0.1);
    --shadow-elevation-medium:
        0.5px 0.6px 0.8px hsl(var(--shadow-color) / 0.16),
        1.4px 1.8px 2.3px -1.1px hsl(var(--shadow-color) / 0.14),
        3.8px 4.9px 6.3px -2.2px hsl(var(--shadow-color) / 0.12),
        10px 12.7px 16.4px -3.2px hsl(var(--shadow-color) / 0.1);
    --shadow-elevation-high:
        0.5px 0.6px 0.8px hsl(var(--shadow-color) / 0.14),
        2.3px 2.9px 3.7px -0.5px hsl(var(--shadow-color) / 0.14),
        4.5px 5.7px 7.4px -0.9px hsl(var(--shadow-color) / 0.13),
        7.9px 10px 12.9px -1.4px hsl(var(--shadow-color) / 0.12),
        13.5px 17.1px 22.1px -1.9px hsl(var(--shadow-color) / 0.11),
        22.1px 28.1px 36.2px -2.3px hsl(var(--shadow-color) / 0.1),
        34.8px 44.1px 56.9px -2.8px hsl(var(--shadow-color) / 0.09),
        52.3px 66.3px 85.5px -3.2px hsl(var(--shadow-color) / 0.09);

    --font: 'Rubik', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --shadow-color: 0deg 0% 0%;
}

:root[data-theme="light"] {
    --bgr-opacity: 1;
    --text: #303030;
}

:root[data-theme="dark"] {
    --bgr-opacity: 0;
    --text: aliceblue;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100lvw;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100lvw;
    height: 100lvh;

    font-family: var(--font);
    color: var(--text);

    transition-property: color, background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

main::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    background: linear-gradient(to top right, #65dfc9, #6cdbeb);
    opacity: var(--bgr-opacity);
    transition: opacity 0.2s ease-in-out;
}

main::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    background: linear-gradient(to top right, #283e5b, #1a232c);
    opacity: calc(1 - var(--bgr-opacity));
    transition: opacity 0.2s ease-in-out;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    min-width: fit-content;
    width: 7lvw;
    padding: 0.3rem;

    background: rgba(255, 255, 255, 0.35);
    border-radius: 0 0 0 1rem;
    box-shadow: var(--shadow-elevation-medium);
    backdrop-filter: blur(0.5rem);
    -webkit-backdrop-filter: blur(0.5rem);
    border: 1px solid rgba(255, 255, 255, 0.4);
}

input[type="checkbox"].toggle+label {
    /*visible label*/
    font-size: 12px;
    font-weight: 550;
    text-transform: uppercase;
    padding: 0.4% 0.5%;
    border-radius: 5px;

    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

input[type="checkbox"].toggle {
    opacity: 0;
    position: absolute;
    scale: 0;
}

input[type="checkbox"].toggle+label:hover {
    color: rgb(117, 117, 117);
}

input[type="checkbox"].toggle+label::before {
    content: "";
    width: 4em;
    height: 1.5em;
    border-radius: 1em;
    background-color: rgb(100, 100, 100);
    margin-right: 0.25em;
    box-shadow: var(--shadow-elevation-low);
}

input[type="checkbox"].toggle+label::after {
    position: absolute;
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1em;
    background-color: #fffefa;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.2rem;
    background-image: url('https://api.iconify.design/iconamoon:mode-light-fill.svg?color=%2308081a');
    transition: all 200ms ease-in-out;
    box-shadow: var(--shadow-elevation-medium);
}

input[type="checkbox"].toggle:checked+label::after {
    transform: translateX(1.5rem);
    background-color: #08081a;
    background-image: url('https://api.iconify.design/iconamoon:mode-dark-fill.svg?color=%23fffefa');
}

.circle {
    position: absolute;
    width: 19rem;
    height: 19rem;

    background: linear-gradient(to top left, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.4));
    border-radius: 50%;
    box-shadow: var(--shadow-elevation-low);
    backdrop-filter: blur(0.5rem);
    -webkit-backdrop-filter: blur(0.5rem);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.circle:nth-child(1) {
    bottom: 6%;
    left: 6%;
}

.circle:nth-child(2) {
    top: 6%;
    right: 6%;
}

#main-container {
    display: flex;
    width: 70%;
    height: 75%;

    background: linear-gradient(to top left, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.4));
    border-radius: 1rem;
    box-shadow: var(--shadow-elevation-medium);
    backdrop-filter: blur(0.5rem);
    -webkit-backdrop-filter: blur(0.5rem);
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.info-panel {
    display: none;
}

.input-panel {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.text-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    padding: 0.5rem;
    border-radius: 2rem;
    border: 1px solid var(--text);
    backdrop-filter: blur(0.2rem);
    -webkit-backdrop-filter: blur(0.2rem);
    box-shadow: var(--shadow-elevation-low);
}

.text-container input {
    width: calc(100% - 2rem);
    padding: 0 0.5rem;
    font-size: 12pt;
    color: var(--text);
    border: none;
    outline: none;
    background-color: transparent;
}

.text-container input::placeholder {
    font-size: 12pt;
    color: var(--text);
}

.text-container svg {
    width: 2rem;
}

@media screen and (max-width: 640px) {
    #main-container {
        width: 80%;
    }

    .text-container {
        width: 70%;
    }

    .circle {
        width: 10rem;
        height: 10rem;
    }
}

@media screen and (max-width: 425px) {
    .text-container input {
        font-size: 10pt;
    }
    
    .text-container input::placeholder {
        font-size: 10pt;
    }
}