@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --shadow-elevation-low:
        0.5px 0.6px 0.8px hsl(var(--shadow-color) / 0.15),
        0.8px 1px 1.3px -1.6px hsl(var(--shadow-color) / 0.13),
        2px 2.5px 3.2px -3.2px hsl(var(--shadow-color) / 0.1);
    --shadow-elevation-medium:
        0.5px 0.6px 0.8px hsl(var(--shadow-color) / 0.16),
        1.4px 1.8px 2.3px -1.1px hsl(var(--shadow-color) / 0.14),
        3.8px 4.9px 6.3px -2.2px hsl(var(--shadow-color) / 0.12),
        10px 12.7px 16.4px -3.2px hsl(var(--shadow-color) / 0.1);
    --shadow-elevation-high:
        0.5px 0.6px 0.8px hsl(var(--shadow-color) / 0.14),
        2.3px 2.9px 3.7px -0.5px hsl(var(--shadow-color) / 0.14),
        4.5px 5.7px 7.4px -0.9px hsl(var(--shadow-color) / 0.13),
        7.9px 10px 12.9px -1.4px hsl(var(--shadow-color) / 0.12),
        13.5px 17.1px 22.1px -1.9px hsl(var(--shadow-color) / 0.11),
        22.1px 28.1px 36.2px -2.3px hsl(var(--shadow-color) / 0.1),
        34.8px 44.1px 56.9px -2.8px hsl(var(--shadow-color) / 0.09),
        52.3px 66.3px 85.5px -3.2px hsl(var(--shadow-color) / 0.09);

    --font: 'Rubik', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --shadow-color: 0deg 0% 0%;
}

:root[data-theme="light"] {
    --bgr-opacity: 1;
    --text: #303030;
    --text-inv: aliceblue;
    --btn-accent: #b4cff3;
    --svg-grad1: #0eb99a;
    --svg-grad2: #0d9aaf;
}

:root[data-theme="dark"] {
    --bgr-opacity: 0;
    --text: aliceblue;
    --text-inv: #303030;
    --btn-accent: #283E5B;
    --svg-grad1: #265692;
    --svg-grad2: #102438;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100lvw;
    overflow: hidden;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    font-family: var(--font);
    color: var(--text);

    transition-property: color, background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

main::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    background: linear-gradient(to top right, #65dfc9, #6cdbeb);
    opacity: var(--bgr-opacity);
    transition: opacity 0.2s ease-in-out;
}

main::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    background: linear-gradient(to top right, #283e5b, #1a232c);
    opacity: calc(1 - var(--bgr-opacity));
    transition: opacity 0.2s ease-in-out;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    min-width: fit-content;
    width: 7lvw;
    padding: 0.3rem 0.5rem;

    background: rgba(255, 255, 255, 0.35);
    border-radius: 0 0 0 1rem;
    box-shadow: var(--shadow-elevation-medium);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    border: 1px solid rgba(255, 255, 255, 0.4);
}

input[type="checkbox"].toggle+label {
    /*visible label*/
    font-size: 12px;
    font-weight: 550;
    text-transform: uppercase;
    padding: 0.4% 0.5%;
    border-radius: 5px;

    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

input[type="checkbox"].toggle {
    opacity: 0;
    position: absolute;
    scale: 0;
}

input[type="checkbox"].toggle+label:hover {
    color: rgb(117, 117, 117);
}

input[type="checkbox"].toggle+label::before {
    content: "";
    width: 4em;
    height: 1.5em;
    border-radius: 1em;
    background-color: rgb(100, 100, 100);
    margin-right: 0.25em;
    box-shadow: var(--shadow-elevation-low);
}

input[type="checkbox"].toggle+label::after {
    position: absolute;
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1em;
    background-color: #fffefa;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.2rem;
    background-image: url('https://api.iconify.design/iconamoon:mode-light-fill.svg?color=%2308081a');
    transition: all 200ms ease-in-out;
    box-shadow: var(--shadow-elevation-medium);
}

input[type="checkbox"].toggle:checked+label::after {
    transform: translateX(1.5rem);
    background-color: #08081a;
    background-image: url('https://api.iconify.design/iconamoon:mode-dark-fill.svg?color=%23fffefa');
}

.circle {
    position: absolute;
    width: 19rem;
    height: 19rem;

    background: linear-gradient(to top left, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.4));
    border-radius: 50%;
    box-shadow: var(--shadow-elevation-low);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.circle:nth-child(1) {
    bottom: 6%;
    left: 6%;
}

.circle:nth-child(2) {
    top: 6%;
    right: 6%;
}

#main-container {
    position: relative;
    display: flex;
    width: 70%;
    height: 75%;

    background: linear-gradient(to top left, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.4));
    border-radius: 1rem;
    box-shadow: var(--shadow-elevation-medium);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    border: 1px solid rgba(255, 255, 255, 0.4);
}

#info-panel {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;

    background: rgba(184, 215, 249, 0.4);
    border-radius: 1rem;
    box-shadow: var(--shadow-elevation-low);
    border: 1px solid rgba(184, 215, 249, 0.5);

    transition: left 1s ease-in-out;
}

.splash-screen {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    flex: 1;
    max-height: 50%;
}

.splash-screen svg {
    width: 4rem;
    height: 4rem;
    max-width: 50%;
}

.splash-screen h1 {
    padding: 0 0.5rem;
    font-size: 20pt;
    text-align: center;
}

.splash-screen h4 {
    padding: 0 0.5rem;
    text-align: center;
    font-weight: 400;
}

.social {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 0.5rem;
}

.social svg {
    width: 2.2rem;
    height: 2.2rem;
    margin: 0.2rem;
}

.input-panel {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;

    opacity: 0;
    transition: width 1s ease-in-out;
}

#login-panel {
    width: 65%;
}

#signup-panel {
    width: 35%;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.title {
    text-align: center;
}

.text-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    padding: 0.5rem;
    border-radius: 2rem;
    border: 1px solid var(--text);
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: var(--shadow-elevation-low);
    user-select: none;

    transition: scale 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.text-container input[type="text"] {
    width: calc(100% - 2rem);
    padding: 0 0.5rem;
    font-size: 12pt;
    color: var(--text);
    border: none;
    outline: none;
    background-color: transparent;
}

.text-container input[type="text"]::placeholder {
    font-size: 12pt;
    color: var(--text);
}

.button-container button:hover,
.text-container:hover,
.text-container:focus-within {
    scale: 1.025;
    box-shadow: var(--shadow-elevation-medium);
}

.text-container svg {
    width: 2rem;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 60%;
}

.button-container>* {
    margin: 0.2rem;
}

.additional-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.2rem;
    width: 100%;
    user-select: none;
}

.additional-options label {
    text-wrap: nowrap;
}

.additional-options>* {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.2rem;
    flex: 1;
}

#remember-me {
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid var(--text);
    border-radius: 0.15em;
    margin-right: 0.5rem;
    background-color: var(--text);
    accent-color: var(--text-inv);
    cursor: pointer;
}

.button-container button {
    position: relative;
    outline: none;
    border: none;
    background-color: var(--text-inv);
    width: 100%;
    padding: 0.8rem;
    margin: 0.5rem;
    border-radius: 2rem;
    font-size: 12pt;
    font-weight: 600;
    color: var(--text);
    box-shadow: var(--shadow-elevation-low);
    user-select: none;
    overflow: hidden;
    z-index: 0;

    transition: scale 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.button-container button::after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 0;

    background-color: var(--btn-accent);
    border-radius: 10px;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    z-index: -1;
    transition: 0.2s transform ease-out;
}

.button-container button:hover::after {
    transform: translate(-5px, -5px);
}

.button-container h4 {
    font-weight: 400;
    text-align: center;
}

#forgot-password,
#remember-me+label,
.button-container h4 span {
    font-weight: 550;
    cursor: pointer;
    transition: font-size 0.2s ease-in-out, color 0.2s ease-in-out;
}

#forgot-password:hover,
.additional-options>div:hover,
.button-container h4 span:hover {
    font-size: 13pt;
    color: var(--text-inv);
}

#modal-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    pointer-events: none;
}

.backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, 100%);
    pointer-events: auto;
    transition: transform 0.7s ease-in-out;

    color: var(--text-inv);
    background: linear-gradient(to top left, rgba(240, 240, 255, 0.2), rgba(240, 240, 255, 0.4));
    border-radius: 1rem;
    box-shadow: var(--shadow-elevation-medium);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    border: 1px solid rgba(240, 240, 255, 0.4);
    border-bottom: none;
}
.modal .text-container input[type="text"],
.modal .text-container input[type="text"]::placeholder {
    color: var(--text-inv);
}

@media screen and (max-width: 1010px) {
    #main-container {
        width: 80%;
    }

    .button-container,
    .text-container {
        width: 70%;
    }

    .circle {
        width: 15rem;
        height: 15rem;
    }
}

@media screen and (max-width: 445px) {
    .splash-screen h1 {
        font-size: 14.7pt;
    }

    .splash-screen h4 {
        font-size: 11pt;
    }

    .social svg {
        width: 2rem;
        height: 2rem;
    }

    .text-container {
        padding: 0.1rem;
    }

    .additional-options {
        font-size: 10.5pt;
    }

    .button-container button {
        padding: 0.5rem;
        font-size: 10.5pt;
    }

    .button-container h4 {
        font-size: 10.5pt;
    }
}

@media screen and (max-height: 340px) {
    .text-container {
        padding: 0.1rem;
    }

    .additional-options {
        font-size: 10.5pt;
    }

    .button-container button {
        padding: 0.5rem;
        font-size: 10.5pt;
    }

    .button-container h4 {
        font-size: 10.5pt;
    }
}